.messages-container {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding:0 12rem ;
  gap: 10px;
}
.gradient-text {
  font-size: 5rem;
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec6ead, #3494e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: linear-gradient(to right, blue, purple,red); /* Example gradient */
  background-clip: text; /* Clip the gradient to the text shape */
  -webkit-text-fill-color: transparent;
}
